.huge {
  font-size: 1.5em;
}

.panel{
    border-radius: 20px;
    
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
  padding: 20px;
}
.panel-heading{
    padding: 20px;
    border-radius: 10px;
    min-height: 150px;
    max-height: 250px;
}
.panel-blue {
  border-color: #337AB7;
}
.panel-blue > .panel-heading {
  border-color: #337AB7;
  color: white;
  background-color: #337AB7;
}
.panel-blue > a {
  color: #337AB7;
}
.panel-blue > a:hover {
  color: #337AB7;
  
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}